$font: 'Noto Sans Display', sans-serif;


*, *::before, *::after{
    box-sizing: border-box;
    font-family: $font;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgba(26, 183, 218, 0.9), pink);
    background-repeat: no-repeat;
}

.wrapper{
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(255,255,255,.3);
    height: 70%;
    width: 400px;
    border-radius: 10px;
    }

.billAmount{
    background-image: url(/icons8-us-dollar-50.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 8%;
    text-align: center;
    border: 2px solid rgba(92, 92, 92, 0.9);
    border-radius: 5px;
}

.numberOfPeople{
    background-image: url(/icons8-person-64.png);
    background-repeat: no-repeat;
    background-position: left 2px top 0px;
    background-size: 8%;
    text-align: center;
    border: 2px solid rgba(92, 92, 92, 0.9);
    border-radius: 5px;
}

h4{
    position: relative;
    bottom: 15px;
    margin-bottom: -30px;
    padding: 0%;
    color: rgba(92, 92, 92, 0.9);
    
}


.percentage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "tipOne tipTwo"
    "tipThree" "tipFour"
    "custom" "custom";
    width: 80%;
    grid-gap: 6px;
    // margin-bottom: 40px;
}

.tipOne{
    grid-area: "tipOne";
}

.tipTwo{
    grid-area: "tipTwo";
}

.tipThree{
    grid-area: "tipThree";
}

.custom{
    grid-area: "custom";
    grid-column: 1/3;
}

input{
    width: 296px;
}

h1{
    color: rgba(92, 92, 92, 0.9);
}

.tipText{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tipText p{
    color: rgb(196, 109, 123);
    position: absolute;
    top: -5px;
    right: 85px;

}

.tipText h4{
    position: absolute;
    right: 125px;
}

.totalText{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.totalText p{
    color: rgb(196, 109, 123);
    position: absolute;
    top: -5px;
    right: 85px;

}

.totalText h4{
    position: absolute;
    right: 125px;
}


button{
    margin: 0 10px;
    border-radius: 5px;
    border: 2px solid rgba(92, 92, 92, 0.9);
}

button:hover{
    border: 2px solid rgba(26, 183, 218, 0.9);
    cursor: pointer;
}

.newCustomText{
    grid-area: "custom";
    position: relative;
    text-align: center;
    margin: 0 10px;
    width: 93%;
    border-radius: 5px;
    border: 2px solid rgba(92, 92, 92, 0.9);
    grid-column: 1/3;
    background-image: url(/icons8-percentage-48.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 7%;
    // background-color: rgba(92, 92, 92, 0.9);
}

.tipAmount{
    font-size: 2rem;
    margin-bottom: 5px;
    color:rgba(26, 183, 218, 0.9)
}

.total{
    font-size: 2rem;
    margin-bottom: 5px;
    color:rgba(26, 183, 218, 0.9)
}




